<body>
    <div class="frontPage">
    <button id="bAir"><a href="/threads/air">Air</a></button>
    <button id="bSea"><a href="/threads/sea">Sea</a></button>
    <button id="bRail"><a href="/threads/rail">Rails</a></button>
    </div>
</body>