<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghost Hulls</title>
</head>
<header><h1>Ghost Hulls!</h1></header>
<body>
    <%= yield %>
</body>
<footer><h1>Ghost Hulls Inc</h1></footer>
</html>